---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
// import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

// Get tech blog posts
const techBlog = (await getCollection("blog"))
    .filter(post => !post.data.draft && post.data.category === "tech")
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

// Get career blog posts
const careerBlog = (await getCollection("blog"))
    .filter(post => !post.data.draft && post.data.category === "career")
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      Hello! 你好！こんにちは！ <span class="text-xl"></span> 
    </h4>
    <h4 class="animate font-semibold text-black dark:text-white">
      I'm Anki ! <span class="text-xl">👋🏻</span> 
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            I'm a Software Engineer.
            With experience in various programming languages, I'm deeply immersed in the world of backend and cloud technologies.
            <!-- <Link href="https://github.com/markhorn-dev/astro-sphere" aria-label="Astro Sphere on Github" external>
              Astro Sphere
            </Link>. -->
          </p>
          <p class="animate">
            Currently based in Tokyo, Japan.
          </p>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Latest Tech Posts
          </h5>
          <Link href="/blog/tech">
            See all tech posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {techBlog.map(post => (
              <li>
                <ArrowCard entry={post} />
              </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Career Growth Articles
          </h5>
          <Link href="/blog/career">
            See all career articles
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {careerBlog.map(post => (
              <li>
                <ArrowCard entry={post} />
              </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          Let's Connect
        </h5>
        <article>
          <p>
            If you want to get in touch with me about something or just to say hi,
            send me an email.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
              {"/"}
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
